@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body,
#root {
  height: 100vh;
  margin:0;
}
body, input, select, button, textarea{
  font-size: 1.6rem;
  font-family: Montserrat;
}
.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;  
}
a:hover {
  color: #ff8000;
}
a {
  text-decoration: none;
  color: #000;

}
header {
  grid-area: header;
  background-color: #203040;
  color: #ffffff;
  display: flex;  
  align-items: center;
  padding: 0.5rem 3.5rem;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;
}
header a{
  color: #ffffff;
  text-decoration: none;
}
.cart-link {
  display: flex;
  cursor: pointer;
  

}
.cart-link_icon{ 
  background: url(/images/shopping-cart.svg) center center / contain no-repeat;
  padding: 1.5rem;
  margin-right: 1rem;
  position: relative;
}
.cart-link_label{
  font-size: 1.5rem;
  text-align: center;
  line-height: 3rem;
}
.cart-link_count{
  position: absolute;
  top: -0.7rem;
  right: -0.9rem;
  background-color: #ad0c0c;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  line-height: 2rem; 
  text-align: center; 

}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  display: flex;
  flex-wrap: wrap;
  position: relative;

}
.main {
  flex: 3 60rem;
}
.sidebar {
  flex: 1 20rem;
  position: fixed;
  right: 0;
  background-color: #ffffff;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 1rem;
}
/* side-filter */
.flexbx{
  display: flex;
}
.side-filter {
display: flex;
flex-direction: column;

}
.filter-item {
  width: 250px;
  border:0.1rem #c0c0c0 solid; 
   display: inline-block;
  vertical-align: top;
  background: #fff;
  text-align: left;
  padding: 2rem;  
  margin: 1rem;
}
.filter-item-title{
  padding: 2rem 0;
  font-weight: bold;
}
/* checkbox */
.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 1.5rem;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 0px;
  left: 0;
  height: 16px;
  width: 16px;
  background: #fff;
  border: 1px solid #ccc;
}
.control--checkbox .control__indicator {
  border-radius: 3px;
}
.control--radio .control__indicator {
  border-radius: 50%;
}
.control__indicator:hover  {
  border-color: #666;
}
.control input:checked ~ .control__indicator {
  background: #fff;
}

.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}

.control--checkbox .control__indicator:after {
  left: 5px;
  top: 0px;
  width: 5px;
  height: 12px;
  border: solid #f0c040;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.control--checkbox  {
  border-color: #7b7b7b;
}
/* radio */
.control--radio .control__indicator:after {
  left: 5px;
  top: 5px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #f0c040;
}

/* products */
.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.products li{
  flex: 0 1 29rem;
  height: 40rem;
  padding: 1rem;
  margin: 1rem;
  
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  
}
.product img {
  max-width: 30rem;
  max-height: 30rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-price div,
.product-price button {
  text-align: center;
  flex: 1;
}
.product-price div {
  font-size: 2rem;
}
.button {
  padding: 1rem;
  border: .1rem #c0c0c0 solid;
  background-color: #f0f0f0;
  cursor: pointer;
}
.button:hover {
  border: .1rem #808080 solid;
}
.button.primary {
  background-color: #f0c040;
}
/* filter */
.filter {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}
.filter div {
  flex: 1;
}
/* cart */
.cart {
  padding: 1rem;
  margin: 1rem;
  display: flex;
}
.cart-header {
  border-bottom: 0.1rem #c0c0c0 solid;
}
.cart-items{
  padding: 0;
  width: 100%;
  list-style-type: none;

}
.cart-items img{
  width: 5rem;
}
.cart-items li{
  display: flex;
}
.cart-items li div{
  padding: 0.5rem;
}
.cart-items li div:last-child{
  flex:1
}
.right{
  text-align: right;
}
.total{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.total > div {
  font-size: 2rem;
}
.total > div, .total > button{
  flex: 1;
}
/* checkout form */
form {
  width: 100%;

}
.form-container {
  padding: 0;
  width: 100%;
  list-style-type: none;
}
.form-container li{
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
input{
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
}
/* product details */
.product-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 96vh;
}
.product-details img {
  max-height: 100vh;
  max-width: 46rem;
  margin: 0 auto;
}
.product-details-description {
  flex: 1 1;
  margin: 1rem;
}
.close-modal{
  position: absolute;
  right: 1rem;
  top: 2.5rem;
  z-index: 1000;
}